<div id="main_container">

    <%= render 'layouts/menu' %>

  <div class="blog_header_photo">
    <div class="page_header_trans">
      <div class="page_header_title">

      </div>
    </div>
  </div>

    <div class="blog_content">
     <div class="full_width_centered">
       <h2>OUR BLOG</h2>

       <div class="latest_posts">
         <h2><%= t('blog.title') %></h2>
         <div class="left13">
           <div class="latest_post">
             <div class="post_info">
               <span class="post_date"><%= t('blog.proposal.date') %></span>
               <h3><a href="/blog-single"><%= t('blog.proposal.title') %></a></h3>
               <a href="/blog-single" class="post_read_more"><%= t('read_more') %></a>
             </div>
             <%= image_tag "template/post_thumb1.jpg" %>
           </div>
         </div>
         <div class="left13">
           <div class="latest_post">
             <div class="post_info">
               <span class="post_date"><%= t('blog.wedding_organisation.date') %></span>
               <h3><a href="/blog-single"><%= t('blog.wedding_organisation.title') %></a></h3>
               <a href="/blog-single" class="post_read_more"><%= t('read_more') %></a>
             </div>
             <%= image_tag "template/post_thumb2.jpg" %>
           </div>
         </div>
         <div class="left13_last">
           <div class="latest_post">
             <div class="post_info">
               <span class="post_date"><%= t('blog.honeymoon.date') %></span>
               <h3><a href="/blog-single"><%= t('blog.honeymoon.title') %></a></h3>
               <a href="/blog-single" class="post_read_more"><%= t('read_more') %></a>
             </div>
             <%= image_tag "template/post_thumb3.jpg" %>
           </div>
         </div>
         <!--a href="/blog" class="view_all"><%= t('blog.more') %></a-->
         <div class="clear"></div>
       </div>
        </div>  <!--end of full width-->
      </div> <!--end of about content-->   

   <%= render 'layouts/footer' %>

</div>
<script type="text/javascript">
var main_menu=new main_menu.dd("main_menu");
main_menu.init("main_menu","menuhover");
</script>