<div id="main_container">

  <%= render 'layouts/menu' %>

  <div class="title_container">

    <div class="title_front"><%= t('title.front') %></div>
    <div class="love_birds"><%= image_tag "template/birds_icon.png" %></div>
    <div class="title">Sophie <span>&amp;</span> Gabriel</div>
    <div class="title_date"><span class="swirl_left"><span class="swirl_right"><%= t('title.date') %></span></span></div>
    <div class="title_under"><%= t('title.under') %></div>

  </div>

  <div class="slider_container">
    <!--div class="slider_trans_black"></div-->
    <div id="random">
      <div style="background-image: url(<%= asset_path '18-201_SophieGabriel_100004' %>) ;"></div>
      <!--div style="background-image: url(<%= asset_path '18-201_SophieGabriel_100016' %>) ;"></div>
      <div style="background-image: url(<%= asset_path '18-201_SophieGabriel_100019' %>) ;"></div>
      <div style="background-image: url(<%= asset_path '18-201_SophieGabriel_100021' %>) ;"></div>
      <div style="background-image: url(<%= asset_path '18-201_SophieGabriel_100023' %>) ;"></div>
      <div style="background-image: url(<%= asset_path '18-201_SophieGabriel_100024' %>) ;"></div>
      <div style="background-image: url(<%= asset_path '18-201_SophieGabriel_100031' %>) ;"></div>
      <div style="background-image: url(<%= asset_path '18-201_SophieGabriel_100039' %>) ;"></div>
      <div style="background-image: url(<%= asset_path '18-201_SophieGabriel_100042' %>) ;"></div>
      <div style="background-image: url(<%= asset_path '18-201_SophieGabriel_100043' %>) ;"></div>
      <div style="background-image: url(<%= asset_path '18-201_SophieGabriel_100046' %>) ;"></div>
      <div style="background-image: url(<%= asset_path '18-201_SophieGabriel_100047' %>) ;"></div>
      <div style="background-image: url(<%= asset_path '18-201_SophieGabriel_100048' %>) ;"></div>
      <div style="background-image: url(<%= asset_path '18-201_SophieGabriel_100049' %>) ;"></div>
      <div style="background-image: url(<%= asset_path '18-201_SophieGabriel_100052' %>) ;"></div>
      <div style="background-image: url(<%= asset_path '18-201_SophieGabriel_100067' %>) ;"></div>
      <div style="background-image: url(<%= asset_path '18-201_SophieGabriel_100071' %>) ;"></div>
      <div style="background-image: url(<%= asset_path '18-201_SophieGabriel_100082' %>) ;"></div-->

      <!--div style="background-image: url(<%= asset_path 'template/slider/slide1.jpg' %>) ;"></div>
                <div style="background-image: url(<%= asset_path 'template/slider/slide1.jpg' %>) ;"></div-->
    </div>
  </div>
  <div class="countdown_container">
    <h2 class="centered_title"><%= t('countdown.title') %></h2>
    <div id="defaultCountdown"></div>
    <div class="rsvp_button">
      <span class="swirl_left_small"><span class="swirl_right_small"><a href="#"><%= t('countdown.rsvp') %></a></span></span></div>
  </div>

  <div class="about_content">
    <div class="about_topsign">&amp;</div>
    <div class="full_width_centered">


      <div class="left12_first">
        <span class="names_titles">THE BRIDE</span>
        <h2>SOPHIE ZHU</h2>
        <div class="about_pic_container">
          <span class="about_picframe"></span>
          <div class="about_social">
            <%= image_tag "template/social/twitter.png" %>>
            <%= image_tag "template/social/facebook.png" %>
            <%= image_tag "template/social/pinterest.png" %>
          </div>
          <div class="about_pic"><%= image_tag "template/image12.jpg" %></div>
        </div>
        <a href="#" class="thumb_read_more">MORE ABOUT SOPHIE</a>
        <p>Love is friendship that has caught fire. It is quiet understanding, mutual confidence,
          <a href="#">sharing and forgiving</a>. It is loyalty through good and bad times. It settles for less than
          perfection and <strong>makes allowances</strong> for human weaknesses "<a href="#">LOVE QUOTE</a>":</p>
        <span class="love_quote">Sometimes the heart sees what is invisible to the eye.</span>

      </div>
      <div class="left12_last">
        <span class="names_titles">THE GROOM</span>
        <h2>GABRIEL GAGNON</h2>
        <div class="about_pic_container">
          <span class="about_picframe"></span>
          <div class="about_social">
            <%= image_tag "template/social/twitter.png" %>
            <%= image_tag "template/social/facebook.png" %>
            <%= image_tag "template/social/pinterest.png" %>
          </div>
          <div class="about_pic"><%= image_tag "template/image12_2.jpg" %></div>
        </div>
        <a href="#" class="thumb_read_more">MORE ABOUT GABRIEL</a>
        <p>I believe that imagination is stronger than knowledge. That myth is more potent than history. That dreams are
          more powerful than facts. That hope always triumphs over experience. That laughter is the only cure for grief.
          And I believe that love is stronger than death "<a href="#">LOVE QUOTE</a>":</p>
        <span class="love_quote">Where there is love there is life.</span>
      </div>

      <div class="clear"></div>
    </div>  <!--end of full width-->
  </div> <!--end of about content-->

  <div class="carousel_container">
    <div class="carousel_container_image">
      <div class="full_width_carousel">
        <h2>OUR BRIDEMAIDS AND GROOMSMEN'S</h2>
        <span class="carousel_titles">BEST MAN &amp; MAID OF HONOR</span>
        <div id="weddingcarousel" class="owl-carousel">
          <div class="left14">
            <div class="bestman"><span>BEST MAN</span><%= image_tag "template/bestman.png" %>
            </div><%= image_tag "template/image_14.jpg" %><h3>PHILIPPE BOIVIN</h3></div>
          <div class="left14">
            <div class="bestman"><span>BEST MAN</span><%= image_tag "template/bestman.png" %>
            </div><%= image_tag "template/image_14.jpg" %><h3>LAURENT DANG</h3></div>
          <div class="left14">
            <div class="bestman"><span>MAID OF HONOR</span><%= image_tag "template/maidofhonor.png" %>
            </div><%= image_tag "template/image_14_3.jpg" %><h3>LUCY LUO</h3></div>
          <div class="left14_last"><%= image_tag "template/image_14_6.jpg" %><h3>ELLA BENZAQUEN</h3></div>
          <div class="left14"><%= image_tag "template/image_14_5.jpg" %><h3>RACHELLE DE MUY</h3></div>
          <div class="left14"><%= image_tag "template/image_14_3.jpg" %><h3>PIERRE-LUC FAUCHER</h3></div>
          <div class="left14"><%= image_tag "template/image_14_7.jpg" %><h3>ANNE-SOPHIE GAGNON</h3></div>
          <div class="left14_last"><%= image_tag "template/image_14_8.jpg" %><h3>KARL-ANDRÉ GAGNON</h3></div>
          <div class="left14"><%= image_tag "template/image_14_7.jpg" %><h3>GABRIELLE MAHEUX-LECLERC</h3></div>
          <div class="left14"><%= image_tag "template/image_14_7.jpg" %><h3>JEAN MASTROCOLA</h3></div>
          <div class="left14"><%= image_tag "template/image_14_7.jpg" %><h3>KAREN TAM</h3></div>
          <div class="left14_last"><%= image_tag "template/image_14_7.jpg" %><h3>VICTOR TSANG-HI</h3></div>
        </div>
        <div class="view_all_carousel"><a href="/bridesmaids"><%= t('men_maid.more') %></a></div>
      </div>
    </div>
  </div>

  <div class="full_width_centered">
    <div class="latest_posts">
      <h2><%= t('blog.title') %></h2>
      <div class="left13">
        <div class="latest_post">
          <div class="post_info">
            <span class="post_date"><%= t('blog.proposal.date') %></span>
            <h3><a href="/blog-single"><%= t('blog.proposal.title') %></a></h3>
            <a href="/blog-single" class="post_read_more"><%= t('read_more') %></a>
          </div>
          <%= image_tag "template/post_thumb1.jpg" %>
        </div>
      </div>
      <div class="left13">
        <div class="latest_post">
          <div class="post_info">
            <span class="post_date"><%= t('blog.wedding_organisation.date') %></span>
            <h3><a href="/blog-single"><%= t('blog.wedding_organisation.title') %></a></h3>
            <a href="/blog-single" class="post_read_more"><%= t('read_more') %></a>
          </div>
          <%= image_tag "template/post_thumb2.jpg" %>
        </div>
      </div>
      <div class="left13_last">
        <div class="latest_post">
          <div class="post_info">
            <span class="post_date"><%= t('blog.honeymoon.date') %></span>
            <h3><a href="/blog-single"><%= t('blog.honeymoon.title') %></a></h3>
            <a href="/blog-single" class="post_read_more"><%= t('read_more') %></a>
          </div>
          <%= image_tag "template/post_thumb3.jpg" %>
        </div>
      </div>
      <a href="/blog" class="view_all"><%= t('blog.more') %></a>
      <div class="clear"></div>
    </div>
  </div>


  <div class="home_bottom">
    <div class="full_width_centered">
      <div class="left13">
        <div class="bottom_icon"><%= image_tag "template/icon_vacation.png" %></div>
        <h2><%= t('hotel.title') %></h2>
        <span class="subtitle"><%= t('hotel.subtitle') %></span>
        <p><%= t('hotel.content') %></p>
        <br>
        <a href="/page" class="post_read_more"><%= t('read_more') %></a>
      </div>
      <div class="left13">
        <div class="bottom_icon"><%= image_tag "template/icon_location.png" %></div>
        <h2><%= t('location.title') %></h2>
        <span class="subtitle"><%= t('location.subtitle') %></span>
        <p><%= t('location.content') %></p>
        <a href="/venue" class="post_read_more"><%= t('read_more') %></a>
      </div>
      <div class="left13_last">
        <div class="bottom_icon"><%= image_tag "template/icon_gifts.png" %></div>
        <h2><%= t('gift_registry.title') %></h2>
        <span class="subtitle"><%= t('gift_registry.subtitle') %></span>
        <p><%= t('gift_registry.content') %></p>
        <br><br>
        <a href="/page" class="post_read_more"><%= t('read_more') %></a>
      </div>

      <div class="clear"></div>
    </div>
  </div>

  <%= render 'layouts/footer' %>

</div>
<script>
    $(document).ready(function () {
        "use strict";
        $("#random").skippr({
            navType: 'bubble',
            transition: 'fade',
            autoPlay: true,
            autoPlayDuration: 4000,
            speed: 1000,
            arrows: false
        });
        $("#weddingcarousel").owlCarousel({
            items: 4,
            itemsScaleUp: true,
            navigationText: ["prev", "next"]
        })
    });
</script>
<!-- DropDownMenu -->
<script type="text/javascript">
    var $ = jQuery.noConflict();
    $(window).load(function () {
        "use strict";
        var $titlefront = $('.title_front').hide();
        var $titleunder = $('.title_under').hide();
        var $bestman = $('.bestman span').hide();
        var $footernames = $('.footer_names').hide();

        $titlefront.show().arctext({radius: 250});
        $titleunder.show().arctext({radius: 180, dir: -1});
        $bestman.show().arctext({radius: 80});
        $footernames.show().arctext({radius: 120, dir: -1});

        $.countdown.setDefaults($.countdown.regional['fr']);
        $('#defaultCountdown').countdown({until: new Date(2018, 6 - 1, 9, 15), format: 'y-o-d-h'});

    });
</script>
<script type="text/javascript">
    var main_menu = new main_menu.dd("main_menu");
    main_menu.init("main_menu", "menuhover");
</script>