<div id="main_container">

  <%= render 'layouts/menu' %>

  <div class="photos_header_photo">
    <div class="page_header_trans">
      <div class="page_header_title">

      </div>
    </div>
  </div>

  <div class="page_content">
    <div class="full_width_centered">
      <h2><%= t('photos.title') %></h2>
      <div class="wrapper">
        <div class="topbar">
          <h2 id="name"></h2>
          <div id="close" class="back"><%= t('photos.back') %></div>

        </div>

        <ul id="tp-grid" class="tp-grid">
          <%
            @photos.each do |photo_folder, photo_files|
              photo_files.each do |photo_file|
          %>
              <li data-pile="<%= t("photos.folder.#{photo_folder}") %>">
                <a href="<%= image_path("#{photo_folder}/#{photo_file}") %>" data-lightbox="<%= photo_folder %>"><%= image_tag "#{photo_folder}/thumbnails/#{photo_file}" %></a>
              </li>
          <%
              end
            end
          %>

        </ul>
      </div>

      <div class="clear"></div>
    </div>  <!--end of full width-->
  </div> <!--end of about content-->


  <%= render 'layouts/footer' %>

</div>
<script type="text/javascript">
    $(function () {
        "use strict";
        var $grid = $('#tp-grid'),
            $name = $('#name'),
            $close = $('#close'),
            $loader = $('<div class="loader"><i></i><i></i><i></i><i></i><i></i><i></i><span>Loading...</span></div>').insertBefore($grid),
            stapel = $grid.stapel({
                onLoad: function () {
                    $loader.remove();
                },
                onBeforeOpen: function (pileName) {
                    $name.html(pileName);
                },
                onAfterOpen: function (pileName) {
                    $close.show();
                }
            });

        $close.on('click', function () {
            $close.hide();
            $name.empty();
            stapel.closePile();
        });

    });
</script>
<script type="text/javascript" charset="utf-8">
    var $ = jQuery.noConflict();
    $(window).load(function () {
        $(function () {
            "use strict";
            $(".swipebox").swipebox();
        });
    });
</script>
<script type="text/javascript">
    var main_menu = new main_menu.dd("main_menu");
    main_menu.init("main_menu", "menuhover");
</script>