<div id="main_container">

  <%= render 'layouts/menu' %>

  <div class="page_header_photo general_header">
    <div class="page_header_trans">
    </div>
  </div>

  <div class="page_content">
    <div class="full_width_centered">
      <div class="left12_first">
        <h3>Log in</h3>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br/>
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %><br/>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>  <!--end of full width-->
  </div> <!--end of about content-->

  <%= render 'layouts/footer' %>

</div>

<
<script type="text/javascript" charset="utf-8">
  function sendLogin() {
      console.write("TST")
  }
</script>