<div id="main_container">

  <%= render 'layouts/menu' %>

  <div class="page_header_photo general_header">
    <div class="page_header_trans">
    </div>
  </div>

  <div class="page_content">
    <div class="full_width_box">
      <% if flash[:alert] %>
        <div class="alert alert-danger fade in">
          <button class="close" data-dismiss="alert">×</button>
          <%= flash[:alert] %>
        </div>
      <% end %>

      <h3>LOG IN</h3>

      <p>Dear guests, by creating an account you will help us coordinate our wedding. We will use the email address
        associated with your Facebook account to send you updates in the future (eg.: When the meal selection will be
        available).
      </p>

      <%= link_to user_facebook_omniauth_authorize_path, class: "'btn btn-facebook btn btn-lg btn-block" do %>
        <span class="fa fa-facebook"></span> Sign in with Facebook
      <% end %>

      <br><br>
      <a href="#email_login" class="btn btn-default btn-expand" data-toggle="collapse">Click here if you want to use an
        email
        instead of Facebook.</a>

      <div id="email_login" class="collapse div-expand">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br/>
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %><br/>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>  <!--end of full width-->
  </div> <!--end of about content-->

  <%= render 'layouts/footer' %>

</div>