<div class="home_bottom">
  <div class="full_width_centered">
    <div class="left13">
      <div class="bottom_icon"><%= image_tag "template/icon_vacation.png" %></div>
      <h2><%= t('hotel.title') %></h2>
      <span class="subtitle"><%= t('hotel.subtitle') %></span>
      <p><%= t('hotel.content') %></p>
      <br>
      <!--a href="/page" class="post_read_more"><%= t('read_more') %></a-->
    </div>
    <div class="left13">
      <div class="bottom_icon"><%= image_tag "template/icon_location.png" %></div>
      <h2><%= t('location.title') %></h2>
      <span class="subtitle"><%= t('location.subtitle') %></span>
      <p><%= t('location.content') %></p>
      <%= link_to t('read_more'), venue_path, class: 'post_read_more' %>
    </div>
    <div class="left13_last">
      <div class="bottom_icon"><%= image_tag "template/icon_gifts.png" %></div>
      <h2><%= t('gift_registry.title') %></h2>
      <span class="subtitle"><%= t('gift_registry.subtitle') %></span>
      <p><%= t('gift_registry.content') %></p>
      <br><br>
      <%= link_to t('menu.registry'), registry_path, class: 'post_read_more' %>
    </div>

    <div class="clear"></div>
  </div>
</div>

<div class="footer">
  <div class="full_width_centered">
    <div class="footer_sign">
      <span class="swirl_left_transparent"><span class="swirl_right_transparent"><%= image_tag "template/birds_icon.png" %></span></span>
    </div>
    <div class="footer_names">SOPHIE &amp; GABRIEL</div>
    <!--div class="footer_socials">
      <ul>
        <li><a href="#"><%= image_tag "template/social/twitter.png" %></a></li>
        <li><a href="#"><%= image_tag "template/social/facebook.png" %></a></li>
        <li><a href="#"><%= image_tag "template/social/pinterest.png" %></a></li>
        <li><a href="#"><%= image_tag "template/social/vimeo.png" %></a></li>
        <li><a href="#"><%= image_tag "template/social/google.png" %></a></li>
        <li><a href="#"><%= image_tag "template/social/youtube.png" %></a></li>
      </ul>
    </div-->
    <nav class="footer_menu">
      <ul>
        <li><%= nav_link t('menu.home'), root_path %></li>
        <li><%= nav_link t('menu.wedding'), venue_path %></li>
        <li><%= nav_link t('menu.photos'), photos_path %></li>
        <li><%= nav_link t('menu.rsvp'), rsvp_path %></li>
        <li><%= nav_link t('menu.registry'), registry_path %></li>
        <li><%= nav_link t('menu.faq'), faq_path %></li>
        <!--li><%= nav_link t('menu.contact'), contact_path %></li-->
        <li>
          <a onClick="jQuery('html, body').animate( { scrollTop: 0 }, 'slow' );" href="javascript:void(0);" class="gotop"><%= t('menu.top') %></a>
        </li>
      </ul>
    </nav>
  </div>
</div>