<a class="show_menu" href="#"><%= image_tag "template/mobile_menu_open.png" %></a>
<a class="hide_menu" href="#"><%= image_tag "template/mobile_menu_close.png" %></a>

<nav class="menu">
  <ul id="main_menu">
    <li><%= nav_link 'HOME', root_path %></li>
    <li><%= nav_link 'THE WEDDING', page_path %>
      <ul>
        <li><%= nav_link 'THE VENUE', venue_path %></li>
        <li><%= nav_link 'LOVELY DROP DOWN', page_path %></li>
        <li><%= nav_link 'LOVELY DROP DOWN', page_path %></li>
      </ul>
    </li>
    <li><%= nav_link 'BLOG', blog_path %></li>
    <li><%= nav_link 'PHOTOS', photos_path %></li>
    <li><%= nav_link 'RSVP', rsvp_path %></li>
    <li><%= nav_link 'GET IN TOUCH', contacts_path %></li>
    <% if user_signed_in? %>
      <li><%= nav_link "LOG OUT", sign_out_path %></li>
    <% else %>
     <li><%= nav_link "SIGN IN", sign_in_path %></li>
    <% end %>
  </ul>
</nav>